<div class="p-5 container-fluid">

  <div class="row">
    <div class="col-2" *ngFor="let card of Services">
      <app-service-card [card] = 'card'>

      </app-service-card>
      
    </div>
    
    <div class="col-2">
      <div class="card mb-3" style="width: 18rem;height: 17rem;">
        <div class="card-body">
          <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <label>Creating new room type</label>
            <label>
              Description:
              <input type="text" formControlName="description">
            </label>
            <label>
              Amount:
              <input type="text" formControlName="amount">
            </label>
            <label>
              Room Id:
              <input type="text" formControlName="roomId">
            </label>
            <label>
              <button class="btn-primary" type="submit">Submit</button>
            </label>
            
          </form>
        </div>
      </div>
    
  </div>
</div>
