<div class="card mb-3" style="width: 18rem;height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">Room {{ card.id }}</h5>
    <p class="card-text">{{ card.roomType.description}}</p>
    <p class="card-text">Rent: ${{ card.roomType.rent }} </p>
    <p class="card-text">Availability: {{ card.status ? "yes" : "no" }}</p>
    <a class="btn btn-primary mr-4" (click)="open(mymodal)">Edit</a>
    <a (click)="deleteRoomType()" class="btn btn-danger">Delete</a>
  </div>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editing RoomType</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  
      <label>
        Room Type Id:
        <input type="text" formControlName="roomtypeid">
      </label>
      <label>
        <button class="btn-primary" type="submit">Submit</button>
      </label>
      
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
